header{
    width:100%;
    height:40px;
    background-color:#f78a4e;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header span{
    padding:0 10px;
    font-weight:bolder;
}
body{
    margin:0;
    height:0;
}
.logo-content{
    color: rgb(6, 30, 117);
    font-size:34px;
    font-weight: bolder;
}
.logo-content1{
    color: rgb(233, 70, 41);
    font-size:34px;
    font-weight: bolder;
}
.navbar-nav{
    display: flex;
    justify-content: center;
    width:700px;
}
.navbar{
    border-bottom:1px solid rgba(97, 95, 95, 0.267);
}
.register-container{
    background-color: rgb(252, 252, 252);
}
.reg-form{
    width: 100%;
    height:670px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.reg-form form div{
    margin:20px;
}
.reg-form form input{
    width: 500px;
    height:40px;
}
.reg-form form select{
    width: 500px;
    height: 100px;
}
.reg-form textarea{
    width: 500px;
    height:100px;
}
.reg-form form span{
    padding:7px 12px;
    position: absolute;
    margin-left:-40px;
    border:1px solid grey;
}
.reg-form form button{
    width: 500px;
    height: 40px;
    background-color: #f54410;
}
.border{
    width: 100%;
    height: 200px;
    background-color:#f78a4e;
}
.border h1{
    text-align: center;
    position: relative;
    bottom: -70px;
}
.footer{
    width: 100%;
    height:80px;
    background-color:black;
    text-align: center;
    color: white;
}